<div ng-controller="catalogCtrl" style="background: #F7F7F7">
	<div class="top_nav">
      <div class="nav_menu">
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li role="presentation">
              <a href="#">Catalog
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<li class="">
              <a href="javascript:;">
                John Doe
              </a>
            </li>
            <li role="presentation">
              <a href="#!cart">Shopping Cart
                <i class="fa fa-shopping-cart"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
	<div>
	  <div class="page-title">
	    <div class="title_left">
	      <h3>Catalog <small>All the items that you need!</small></h3>
	    </div>
	  </div>

	  <div class="clearfix"></div>

      <div class="x_panel">
        <div class="x_content">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in items">
        				<td>{{item.name}}</td>
        				<td>{{item.description}}</td>
        				<td>{{item.price | number : 2}}$</td>
        				<td>
                  <a type="button" href="#!items/{{item.id}}" class="btn btn-default" aria-label="More Details">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                  </a>
        					<a type="button" class="btn btn-default" aria-label="Add To Cart">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addToCart(item)"></span>
                  </a>
        				</td>
        			</tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>